@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 224 71% 99%;
    --foreground: 222 84% 5%;
    --primary: 357 89% 43%;
    --primary-foreground: 0 0% 100%;
    --secondary: 285 29% 6%;
  }

  /* Force font inheritance */
  body {
    @apply font-[var(--font-inter)]; 
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-[var(--font-space)] font-bold;
  }
}